<% let stylesheets=["/css/riskAdaptation.css"]; %>
  <% let scripts=[{ script: "/js/floodAdaptation.js" }]; %>

    <%- include("templates/header", { stylesheets: stylesheets }) %>
      <main>
        <div id="mainHeading">
          <img src="/img/floodRiskIcon.png" alt="flood icon" width="120px">
          <div>
            <p>How to prepare for</p>
            <h1><strong>Flooding</strong></h1>
          </div>
        </div>

        <% for (let i=0; i < categories.length; i++) { %>
          <div class="contentContainer">
            <div id="<%= categories[i].name %>Heading" class="contentHeading blue">
              <h3><%= categories[i].heading %></h3>
              <img id="<%= categories[i].name %>Icon" src="/img/plusIcon.png" alt="expand/minimize">
            </div>
            <div class="shadingBlue">
              <div id="<%= categories[i].name %>" class="content"></div>
            </div>
          </div>
        <% } %>


<!-- 
            <div class="contentContainer">
              <div id="planHeading" class="contentHeading">
                <h3>Make an emergency plan</h3>
                <img id="planIcon" src="/img/plusIcon.png" alt="expand/minimize">
              </div>
              <div id="plan" class="content"></div>
            </div>

            <div class="contentContainer">
              <div id="bagHeading" class="contentHeading">
                <h3>Make grab-and-go bags</h3>
                <img id="bagIcon" src="/img/plusIcon.png" alt="expand/minimize">
              </div>
              <div id="bag" class="content"></div>
            </div>

            <div class="contentContainer">
              <div id="insuranceHeading" class="contentHeading">
                <h3>Research insurance options</h3>
                <img id="insuranceIcon" src="/img/plusIcon.png" alt="expand/minimize">
              </div>
              <div id="insurance" class="content"></div>
            </div> -->

            <div id="credits">
              <p>This information is from the government of British Columbia website.
                <a href="https://www2.gov.bc.ca/gov/content/safety/emergency-management/preparedbc/know-your-hazards/floods/before-flood"
                  target="_blank">Learn more</a>
              </p>
            </div>

      </main>


      <%- include("templates/footer", { scripts: scripts }) %>